
@font-face {
    font-family: odinProject;
    src: url(font/Norse-Bold.otf);
}


*{
    margin: 0;
    padding: 0;
}

main{
    display: flex;
    margin: 0;
}

.side-bar{
    position: relative;
}

.back-image{
    height: 100vh;
    width: auto;
    margin: 0;
}
.banner-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 25%;
    margin: 0;
    height: 10rem;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.front-image{
    height: 10rem;
}

.banner-wrapper h2{
    color: white;
    font-family: odinProject;
    font-size: 5rem;
    font-weight: bold;

}

.side-bar footer{
    position: absolute;
    bottom: 10px;
    left: 10rem;
    color: white;
    font-style: italic;
}

.form-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 50%;
}

.about-paragraph{
    font-weight: bold;
    font-size: 1.25rem;
    padding: 3rem;
    margin-bottom: 1rem;
}

.sentence{
    align-self: flex-start;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1rem;
    padding: 3rem;
}

.signup-form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
}

.signup-details{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-bottom: 4rem;
}


.label{
    margin-bottom: 1rem;
    padding: 2.5rem;
}

.left-side{
    display: flex;
    flex-direction: column;
    /* width: 50%; */
}

.right-side{
    display: flex;
    flex-direction: column;
    /* width: 50%;   */
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: black;
}

input:focus {
    border-color: blue;
    box-shadow: 0 0 5px blue;
}

input:invalid{
    border-color: red;
    box-shadow: 0 0 5px red;
}

.signup-button{
    padding: 1rem;
    background-color: #596D48;
    color: white;
    border-radius: 10px ;
    border: none;
    align-items: flex-start;
}